version: "3.8"

services:
  autobangumi:
    image: ghcr.io/estrellaxd/auto_bangumi:latest
    container_name: AutoBangumi
    restart: unless-stopped
    ports:
      - "27892:7892"
    environment:
      TZ: Asia/Shanghai
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-1000}"
      UMASK: "022"
    volumes:
      - ./autobangumi/config:/app/config
      - ./autobangumi/data:/app/data
    networks:
      - media
    dns:
      - 8.8.8.8

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:5.0.4
    container_name: qbittorrent
    restart: unless-stopped
    ports:
      - "28989:28989"
      - "26881:26881"
      - "26881:26881/udp"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Asia/Shanghai
      WEBUI_PORT: 28989
      TORRENTING_PORT: 26881
    volumes:
      - ./qbittorrent/appdata:/config
      - ./qbittorrent/downloads:/downloads
    networks:
      - media

 embyserver:
    image: emby/embyserver:4.9.0.43
    container_name: embyserver
    restart: unless-stopped
    ports:
      - "28096:8096"
    volumes:
      - ./emby/config:/config
      - ./qbittorrent/downloads:/mnt/share1
    networks:
      - media

networks:
  media:
    driver: bridge